

@media (min-width:320px)  { 
    header{
        height: auto;
        padding-bottom: 50px;
    }
    
    .banner-text h4{
        margin-top: 20vh;
    }
}


 @media (min-width:480px)  { 
    header{
        height: auto;
        padding-bottom: 50px;
    }
    
    .banner-text h4{
        margin-top: 50vh;
    }
}
 @media (min-width:600px)  { 
    header{
        height: auto;
        padding-bottom: 50px;
    }
    
    .banner-text h4{
        margin-top: 30vh;
    }
}
 @media (min-width:801px)  { 
    header{
        height: auto;
        padding-bottom: 30px;
    }
    
    .banner-text h4{
        margin-top: 30vh;
    }
}

@media (min-width:1024px) { 
    header{
        height: 100vh;
        padding-bottom: 50px;
    }
    
    .banner-text h4{
        margin-top: 30vh;
    }
}